rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita apenas se o usuário estiver autenticado e o UID bater com o ID do documento
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Permite leitura e escrita na coleção de alimentos para usuários autenticados
    match /foods/{foodId} {
      allow read, write: if request.auth != null;
    }

    // Permite leitura da chave do Gemini para usuários autenticados
    match /config/gemini {
      allow read: if request.auth != null;
    }
  }
}
