<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>PJ32UPL29J</string>
	<key>uploadSymbols</key>
	<true/>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.vicente.losmooscles</key>
		<string>Los Mooscles App Store Profile</string>
		<key>com.vicente.losmooscles.watchkitapp</key>
		<string>Los Mooscles Watch App Store Profile</string>
		<key>com.vicente.losmooscles.watchkitapp.WatchWidgetExtension</key>
		<string>Los Mooscles Watch Widget App Store Profile</string>
		<key>com.vicente.losmooscles.WorkoutWidgetExtension</key>
		<string>Los Mooscles Widget App Store Profile</string>
	</dict>
</dict>

</plist>
